# Virtual Environment
.venv/
venv/

# Environment variables
.env

# SQLite database
db.sqlite3

# Python cache
__pycache__/
*.pyc
.pyc

# Django specific
/static_root/
/media_root/

# IDE and OS files
.vscode/
.idea/
.DS_Store