# Virtual Environment
.venv/
venv/

# Environment variables
.env

# SQLite database
db.sqlite3

# Python cache
__pycache__/
*.pyc
.pyc
__init__.cpython-312.pyc

# Django specific
/static_root/
/media_root/

# IDE and OS files
.vscode/
.idea/
.DS_Store

cases/__pycache__/__init__.cpython-312.pyc
cases/__pycache__/__init__.cpython-312.pyc
cases/__pycache__/admin.cpython-312.pyc
cases/__pycache__/apps.cpython-312.pyc
