asgiref==3.10.0
brotli==1.2.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
crispy-bootstrap5==2025.6
cssselect2==0.8.0
Django==5.2.7
django-crispy-forms==2.4
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
fonttools==4.60.1
idna==3.11
lxml==6.0.2
pillow==12.0.0
psycopg2-binary==2.9.11
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
python-docx==1.2.0
python-dotenv==1.1.1
requests==2.32.5
sqlparse==0.5.3
stripe==13.0.1
tinycss2==1.5.0
tinyhtml5==2.0.0
typing_extensions==4.15.0
urllib3==2.5.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.4.0
